<div class="container">
    <div class="marg row">
        <div class=" col-sm-8">

            <img class="heroe-img" src="{{producto.img}}">

        </div>
        <div class="col-sm-4">
            <div class="well">
                <p><b>{{producto.nombre}}</b></p>
            </div>
            <div class="well">
                <p>{{producto.descripcion}}</p>
            </div>
            <div class="well">
                <p></p>
            </div>
        </div>
    </div>
    <hr>
</div>