<div class="card mb-4 box-shadow">
    <img class="card-img-top" src="{{producto.img}}">
    <div class="card-body">
        <p class="card-text">{{producto.descripcion}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a [routerLink]="['/detalle',index]">View</a>
                <button (click)="verProd()" type="button" class="btn btn-outline-primary btn-block">
                  Ver más...
                </button>
            </div>
            <small class="text-muted"></small>

        </div>
    </div>
</div>