<div class="album py-5 bg-light" *ngIf="message === ''">
    <div class="container">

        <div class="row">
            <div *ngFor="let iterador of productos, let i = index" class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{{iterador.img}}">
                    <div class="card-body">
                        <p class="card-text">{{iterador.descripcion}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a [routerLink]="['/detalle',i]">View</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted"></small>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<h1>{{message}}</h1>